<% provide(:title, "Help") %>
<h1>Help</h1>
<p>
  Get help on the realjkeee at the
  <a href="http://www.realjkeee.org/#help">realjkeee help section</a>.
  To get help on this sample app, see the
  <a href="http://www.realjkeee.org/book"><em>realjkeee</em>
  book</a>.
</p>